﻿<head>
    <title>Crear cuenta</title>
</head>

<body>
    <h1>Crea tu cuenta gratis y comienza a aprender!</h1>
    <form action="/Auth/CrearCuenta" method="post">
        <p>Nombre de usuario</p>
        <input class="input" type="text" placeholder="Ingresa aquí tu nombre de usuario" name="username" required />
        <p>Contraseña</p>
        <input class="input" type="password" name="password" required /><br />
        <button class="button is-link">Crear cuenta</button>
        <a href="/#" class="button is-link is-light" type="reset" style="top: 40px; position: relative;">Cancel</a>
    </form>
</body>