﻿<head>
    <title>Inicio de sesion</title>
</head>

<body>
    <div>
        <div>
            <form action="/Auth/Login" method="post">
                <p>Usuario</p>
                <input class="input" type="text" name="username" placeholder="tu nombre de usuario" required />
                <p>Contraseña</p>
                <input class="input" type="password" name="password" required /><br />
                <button class="button is-link">Iniciar sesión</button>
                <a href="/#" class="button is-link is-light" style="top: 20px; position: relative;">Cancelar</a>
            </form>
        </div>
    </div>
</body>