﻿<head>
    <title>Crear rutina</title>
</head>

<body>
    <div>
        <div>
            <h1>Ejercicios seleccionados</h1>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Video</th>
                        <th>Tiempo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(EjerRutin ejer in Model)
                     {
                        <tr>
                            <td>@ejer.nom_EjerRutin</td>
                            <td>@ejer.vid_EjerRutin</td>
                            <td>@ejer.duracion</td>
                        </tr>
                     }
                </tbody>
            </table>
            <form asp-controller="Ejercicio" asp-action="MostrarEjercicios" method="get">
                 <button class="btn btn-primary">Aceptar</button>
            </form>
        </div>
    </div>
</body>

@*<script>
        $('#Dificultad').change(function () {

            var request = $.ajax({
                url: '/Ejercicio/CrearRutina?dif=' + $('#Dificultad').val()
            });

            request.done(function (resp) {
                var html = "";
                for (var i = 0; i < resp.length; i++) {

                    html += "<tr><tb>" + resp[i].nombre + "</tb></tr>";
                }

                $('#Datos').html(html);
            });
        });
    </script>--!*@
