﻿<head>
    <title>Informacion de rutina</title>
</head>

<body>
    <div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Nombre</th>
                        <th>Video</th>
                        <th>Duracion</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach ()
                    {
                        <tr>
                            <td></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</body>