﻿<head>
    <title>Ejercicios de la pagina</title>
</head>

<body>
    <div>
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Nombre</th>
                        <th>Link de video</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Ejercicio ejer in Model)
                     {
                        <tr>
                            <td>@ejer.id_Ejercicio</td>
                            <td>@ejer.nom_Ejercicio</td>
                            <td>@ejer.vid_Ejercicio</td>
                        </tr>
                            
                     }
                 </tbody>
            </table>
        </div>
    </div>
</body>
