﻿<head>
    <title>Mis rutinas</title>
</head>

<body>
    <div>
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nro</th>
                        <th>Nombre</th>
                        <th>Dificultad</th>
                        <th>Detalles</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Rutina ru in Model)
                    {
                        <tr>
                            <td>@ru.id_Rutina</td>
                            <td>@ru.nom_Rutina</td>
                            <td>@ru.dificultad</td>
                            <td><a class="btn-info" asp-controller="Ejercicio" asp-action="InfoRutina">Informacion</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
