﻿<head>
    <title>Nombre de rutina</title>
</head>

<body>
    <div>
        <div>
            <h1>Creemos una rutina</h1>
            <form asp-controller="Ejercicio" asp-action="NombreRutinas" method="post">
                <h5>Elige el nombre de tu rutina</h5>
                <input type="text" name="rut">
                <h5>Elige la dificultad</h5>
                <select name="dif">
                    <option></option>
                    <option>Principiante</option>
                    <option>Intermedio</option>
                    <option>Avanzado</option>
                </select>
                <button class="btn btn-primary">Responder</button>
            </form>
            <br />
            <br />
        </div>
    </div>
</body>